body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(17, 17, 17);
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 0;
}
h1 {
    font-size: 2rem;
    line-height: 1.3em;
    
}
p {
    margin-bottom: 1.6em;
}
.header {
    background: rgb(0, 0, 0);
    color: white;
    padding: 2rem 0;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 1cm;
}
.header a{ 
    color :white;
    text-decoration:none;
}
#registro{
    background-color: green;
}
.container{
    width: 95%;
    max-width: 950px;
    margin: 0 auto;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    letter-spacing: 9px;
    font-size: 0;
}
.main {
    padding-top: 10rem;
}
.navigacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigacion ul li {
    display: inline-block;
}
.navigacion ul li a {
    display: block;
    padding: 0.5rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navigacion ul li a:hover {
    background: #292929;
}
.footer {
    background: #333;
    color:white;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 6rem;
}