body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#333;
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 0;
}
h1 {
    font-size: 2rem;
    line-height: 1.3em;
    
}
p {
    margin-bottom: 1.6em;
}
.header {
    background: #333;
    color: white;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.7cm;
}
.header a{ 
    color :white;
    text-decoration: none;
}
.container{
    width: 95%;
    max-width: 950px;
    margin: 0 auto;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    letter-spacing: 9px;
    font-size: 1.3em;
    position: 1px 0px 0px 7cm ;
}
.main {
    padding-top: 10rem;
}
.navigacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigacion ul li {
    display: inline-block;
}
.navigacion ul li a {
    display: block;
    padding: 0.5rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navigacion ul li a:hover {
    background: #4a4a4a;


}
.footer {
    background: #f2f2f2;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 6rem;
}