body{
    font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Raleway', sans-serif;
    color:rgb(17, 17, 17);
    font-size: 1.2em;
    margin:auto ;
    width:auto;
    min-width: 214px;
    min-height:650px ;

}
.header {
    background-color: greenyellow;
    color: rgb(0, 0, 0);
    padding: 2rem 0;
    position:relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 1cm;
    opacity: 1;
}
.header a{ 
    color :white;
    text-decoration:none;
}
.registro{
    display: inline-flex;
   padding: 1px 15px;
    text-decoration:none;
    background-color: chartreuse;
    font-size: 1.7rem;
    border: 3px solid;
    border-radius: 20px 20px ; border-color: #000;  
    text-align: center;
}
.container{
    width: 95%;
    max-width: 950px;
    margin: 0 auto;
}
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items:inherit;
}
.logo{
    
}
main {
    width:100%;
    max-width:none;
    margin: 0 auto;
    padding-top: 10rem;
    text-align:center ;
}
.navigacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigacion ul li {
    display: inline-block;
}
.navigacion ul li a {
    display: block;
    padding: 0.5rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navigacion ul li a:hover {
    background: #292929;
}
#present{
    display: flex;
    justify-content: space-between;
    align-items:inherit;
    background-color: greenyellow;
    
}
#presentación{
    width: auto;
    height: 450px;
    justify-content: center;
    margin: auto 20px;
}
#pres{
    
}
/*about*/
.about{
    list-style: none;
    text-align: center;
}
.subtittle{
    color: #001a49;
    font-size: 2rem;
    margin-bottom: 25px;

}
.about_main{
    padding-top: 80px;
    display:grid;
    margin: 0 0 0 70px;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 10px;
}
.about_grafca{
   
    text-align: center;
   
}
.about_icons{
    display: grid;
    width: 99%;
    max-width: 350px;
    height: 60%;
    overflow:hidden;
    box-shadow: 4px 5px 11px #111111;
    border:solid ;
    border-radius: 15px;
    text-align: center;
    gap: 3px;
    
}
.noble{
    display: inline-flex;
    gap: 50px;
}
.ppes{
    display: block;
}

#pie {
    background: #333;
    color:white;
    width:auto;
    height:50px;
    text-align: center;
    margin-top: 6rem;
}
#present{
    height: auto;
    width: auto;
    justify-content: end;
}
