
.target img{
    justify-content: center;
    display: block;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
}
.box{
    display: block;
    position: relative;
    left: 35%;
    transform: translate(-50%, -0%);
    width: 200px;
}
.namess{
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
    justify-content: center;
}
